/*-- scss:defaults --*/
// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inclusive+Sans:ital@0;1&display=swap');

// Light theme colors
$text: #0c0e13;
$background: #fbfbfd;
$primary: #06123b;
$secondary: #9faedf;
$accent: #6a84d9;

$body-bg: $background;

// Core styles for light theme
body , p {
  color: $text;
  font-family: "Inclusive Sans", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  font-size: 0.8em !important;
}

.navbar {
  background-color: $primary;
  color: $background;

  .navbar-logo {
    max-height: 35px;
   
    color: $background;
  }

  .nav-link {
    color: $background;

    &:hover {
      color: $secondary;
    }
  }
}

// Typography
h1, h2, h3, h4, h5, h6 {
  color: $text;
  font-family: "Funnel Display", sans-serif;
  font-weight: 700;
}

// Links
a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $accent;
  }
}

// Buttons
.btn-primary {
  background-color: $primary;
  color: $background;

  &:hover {
    background-color: $accent;
  }
}


/* Styling for .start-icons */
.start-icons {
  text-align: center;

  /* Styling each layout cell */
  .quarto-layout-cell {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center;   /* Center align both icon and text */
    justify-content: center; /* Center content within the cell */
    flex-basis: 25%;       /* Ensure consistent width for each cell */
  }

  /* Styling for the links */
  a {
    text-decoration: none; /* Remove underline from links */
    color: $secondary;        /* Inherit color for better theme flexibility */
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      color: $accent; /* Optional: Change color on hover */
    }

    /* Styling for the icon */
    iconify-icon {
      display: block;      /* Ensure the icon is treated as a block */
      margin-bottom: 8px;  /* Add space between icon and text */
      width: 100px;        /* Consistent icon size */
      height: auto;        /* Maintain aspect ratio */
    }

    /* Styling for the text */
    strong {
      font-size: 1rem;     /* Adjust text size if needed */
      font-weight: bold;
    }
  }
}


